.wrap{
    display: flex;
    justify-content: space-between;
}
.posts-box, .comms-box{
    width: 40%;
    margin: 5px;
}
.post-info, .comm-info{
    width: 60%;
    margin: 5px;
}
button{
    margin: 5px;
    height: 20px;
}